body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

#navbar {
    height: 80px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navItem {
    margin-right: 15px;
}

.jumbotron {
    background-image: url('img/shoesOnWall.jpg');

    height: 70vh;

    background-size: cover;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-content {
    margin-left: 20px;
}

#search-bar {
    margin-top: 15px;
    width: 50vw;
}

#search-button {
    margin-left: 20px;
    color: #F2833C;
    background-color: white;
}

#search-bar > * {
    border-radius: 20px;
    border-width: 0px;
}

#login {
  height: 90vh;
}

#login-image {
  background-image: url('https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  background-size: cover;
  background-position: center;
}

.main-icon {
    font-size: 60px;
    color: #F2833C;
    margin-top: 10px;
    margin-bottom: 30px;
}

.blurb-title {
    margin-bottom: 10px;
}

#key-points {
    margin-bottom: 30px;
}