body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

#navbar {
    height: 80px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navItem {
    margin-right: 15px;
}

.jumbotron {
    background-image: url('img/shoesOnWall.jpg');

    height: 70vh;

    background-size: cover;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-content {
    margin-left: 20px;
}

#search-bar {
    margin-top: 15px;
    width: 50vw;
}

#search-button {
    margin-left: 20px;
    color: #F2833C;
    background-color: white;
}

#search-bar > * {
    border-radius: 20px;
    border-width: 0px;
}

#login, #signup {
    height: 90vh;
}

#login-image {
    background-image: url('https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
    background-size: cover;
    background-position: center;
}

#signup-image {
    background-image: url('https://images.unsplash.com/photo-1494861895304-fb272971c078?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
}

.main-icon {
    font-size: 60px;
    color: #F2833C;
    margin-top: 10px;
    margin-bottom: 30px;
}

.blurb-title {
    margin-bottom: 10px;
}

#key-points {
    margin-bottom: 30px;
}

#product-card {
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-results-container {
    margin-left: 30px;
    margin-right: 30px;
}

.page-header {
    background-color: #F2833C;
}

#submit-button, #write-review-button {
    background-color: #F2833C;
    border: none;
}

#submit-button {
    margin-top: 20px;
}

#logo-icon {
    font-size: 25px;
    color: #F2833C;
    margin-right: 10px;

}

.rating-star {
    color: #F2833C;
}

#main-rating-star {
    font-size: 40px;
    margin-right: 10px;
}

.form-label-group {
    margin-top: 10px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#main-product-image {
    max-width: 50vw;
    max-height: 70vh;
}

#main-card-container {
    margin-top: 20px;
}

#downvote-button {
    margin-left: 20px;
}

#review-card {
    padding: 20px;
}

.card-columns {
    margin-top: 30px;
}

#description {
    margin-top: 20px;
}

.vote-button {
    background-color: white;
    border-radius: 100px;
}

#rating {
    margin-bottom: 20px;
}