body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

#navbar {
    background-color: #F2833C;
    height: 80px;
}

.navItem {
    margin-left: 15px;
    margin-right: 15px;
}

#splash-image, .jumbotron {
    background-image: url('img/shoesOnWall.jpg');

    height: 70vh;

    // background-position: center;
    // background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-bar {
    width: 55vw;
}

#search-button {
    margin-left: 20px;
    background-color: #F2833C;
}

#search-bar > * {
    border-radius: 20px;
    border-width: 0px;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}